body {
    .background {
        background-image: url('bg-img.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    box-sizing: border-box;
}

.d-flex input {
    margin: .10em 0em;
}

.d-flex button {
    margin: 1.5em .6em;
    padding: .3em 2.4em;
}

.d-flex table {
    margin: 1em 10em;
}

table .btnedit {
    color: lightgreen;
    cursor: pointer;
}

table .btndelete {
    color: tomato;
    cursor: pointer;
}